syntax: glob

build/
_build/
cover/
file_storage/*
temp/
files/
db/
profile/*
.hgchurn
.noseids
.nosetests.xml
.nosebazinga

*.pyc
*.pyo
*.bat
*.wpr
*.*~
*.sqlite
*.swp
*.csv
*.dot
*.log
log/*
templates/*

*.orig
*.komodoproject
Thumbs.db

.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
.settings/org.eclipse.ltk.core.refactoring.prefs
.settings/org.eclipse.wst.validation.prefs

.idea/.name
.idea/dictionaries/ericlima.xml
.idea/encodings.xml
.idea/libraries/Buildout_Eggs.xml
.idea/modules.xml
.idea/misc.xml
.idea/projectCodeStyle.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/zina.iml
.idlerc/recent-files.lst
.idea/*
.idea
*.csv
*.xlsx
debug_*

